<p>portfolio-page works!</p><div class="container">
  <div class="container">
    <h1 class="text-center my-4">Wedding Portfolio</h1>
    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
    <button class="btn btn-success mb-4" *ngIf="isAdmin" (click)="addPhoto()">Add Photo</button>
    <div class="row">
      <div class="col-md-4" *ngFor="let photo of photos">
        <div class="card mb-4">
          <img [src]="'http://localhost:3000/uploads/' + photo.name" class="card-img-top" alt="Photo non trouvé">
          <div class="card-body">
            <h5 class="card-title">{{ photo.name }}</h5>
            <p class="card-text">{{ photo.size }} KB</p>
            <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
            <button class="btn btn-primary" *ngIf="isAdmin" (click)="editPhoto(photo)">Edit</button>
            <button class="btn btn-danger" *ngIf="isAdmin" (click)="deletePhoto(photo.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
